.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 1s;
}

.hero-content {
  z-index: 1;
}

/* Content Section */
.content-section {
  padding: 50px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.content-container.reverse {
  flex-direction: row-reverse;
}

.text-container {
  flex: 1;
  padding: 0 20px;
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}