* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically */
    background-color: #f0f2f5; /* optional: matches Facebook style */
    font-family: Arial, sans-serif;
  }
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}